{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="forum col-12">
            <div class="forum-header">
                <h2>Nom du forum : {{ forum.title }}</h2>
                <p>Date de création : {{ forum.createdAt|date ('d/m/Y') }}</p>
            </div>
            <hr>
            <div class="forum-body">
                {% if forum.messages|length == 0 %}
                    <p>Il n'y a pas de message dans ce forum</p>
                {% endif %}
                {% for message in forum.messages %}
                    <div class="message">
                        <h4>Auteur du message : {{ message.user.email }}</h4>
                        <p>Date du message : {{ message.createdAt|date ('d/m/Y') }}</p>
                        <p>{{ message.content }}</p>
                        <hr class="small">
                    </div>
                {% endfor %}
            </div>
            <div class="form-container">
                {{ form_start(form) }}
                <div class="form-field">
                    {{ form_row(form.content) }}
                </div>
                <button type="submit" class="confirm-btn pink">Envoyer le message</button>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block title %}
    forum : {{ forum.title }}
{% endblock %}

