{% extends 'base.html.twig' %}

{% block title %}Exam - Acceuil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Liste des forums</h1>
        <div class="row">
            {% for forum in forums %}
                <div class="forum col-12">
                    <a href="{{ path('forum_view', {'id': forum.id}) }}">
                        <div class="forum-header">
                            <h2>Nom du forrum : {{ forum.title }}</h2>
                            <p>Date de création : {{ forum.createdAt|date ('d/m/Y') }}</p>
                            <p>Nombre de messages : {{ forum.messages|length }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
