{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>Register</h1>
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <button type="submit" class="confirm-btn">S'enregistrer</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
