<nav class="admin-nav">
    <div class="side-nav-head">
        <i class="fa-solid fa-user-gear"></i>
        <h1>PANEL D'ADMINISTRATION</h1>
    </div>
    <div class="side-nav-links">
        <ul>
            <a href="{{ path('home') }}">
                <span class="link link-home">
                    <i class="fa-solid fa-house"></i>
                    <li>Revenir à l'acceuil de l'application</li>
                </span>
            </a>
            <a href="{{ path('admin_forum') }}">
                <span class="link">
                    <i class="fa-solid fa-comment-dots"></i>
                    <li>Liste des forums</li>
                </span>
            </a>
        </ul>
    </div>
</nav>
