<div class="table-responsive">
    <table class=" table admin-table table-striped">
        <thead class="admin-table-head">
        {% block table_header %}
        {% endblock %}
        </thead>
        <tbody class="admin-table-body">
        {% block table_body %}
        {% endblock %}
        </tbody>
    </table>
</div>