.add-btn, .confirm-btn {
  text-align: center;
  padding: 1rem 1.5rem;
  background-color: $main-purple;
  width: 200px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bolder;
  transition: background-color 0.3s;
  color: #FFF;
  border: none;

  &:hover {
    background-color: $main-pink;
    color: #FFF;
  }
}

.confirm-btn {
  width: 300px;
}
.pink {
  background-color: $main-pink;
  &:hover {
    background-color: $main-purple;
  }
}