.forum {
  a:hover {
    color: inherit;
  }
  hr {
    background-color: #FFF;
    height: 3px;
    opacity: inherit;
  }
  .small {
    height: 1px;
  }
  margin: 2rem 0;
  background-color: $main-purple;
  border-radius: 10px;
  padding: 1rem;
  &:hover {
    color: white;
    background-color: $main-pink;
    .confirm-btn {
      background-color: $main-purple;
    }
  }
  .message {
    padding: 1rem;
    border-radius: 10px;
    &:hover {
      background-color: $main-purple;
    }
  }
}
