.admin-nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-right: 4px solid $main-purple;

  .side-nav-head {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem;
    text-align: center;

    i {
      font-size: clamp(1rem, 0.8295rem + 1.3636vw, 1.75rem);
    }

    h1 {
      font-size: clamp(0.8125rem, 0.6151rem + 0.7895vw, 1.5625rem);
      margin: 0;
    }

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      column-gap: 0;
      padding: 0.5rem;
    }
  }

  .side-nav-links {

    height: 100%;

    .link-home {
      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }
    }

    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100%;

      .link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1.2rem;
        transition: background-color 0.3s;
        //background-color: rgba(255,255,255,0);
        //background-image: radial-gradient( #3e85ea, rgba(255,255,255,0));

        li {
          list-style: none;
          font-size: 1.2rem;
          font-size: clamp(0.8125rem, 0.7632rem + 0.1974vw, 1rem);

        }

        &:hover {
          color: white;
          background-color: $main-purple;
        }
      }
    }
  }
}