.admin-content-body {
  .admin-table {
    width: 70%;
    color: white ;
    .admin-table-head {

    }
  }
  .table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: $main-purple;
    color: white;
  }
  .table-striped > tbody > tr:nth-of-type(even) > * {
    background-color: $main-pink;
    color: white;
  }
}
td {
  border: none;
}
