{% extends 'admin-base.html.twig' %}

{% block body %}
    <div class="admin-content-header">
        <h1>Créer un forum</h1>
    </div>
    <div class="form-container">
        {{ form_start(form) }}
        <div class="form-field">
            {{ form_row(form.title) }}
        </div>
        <button type="submit" class="confirm-btn">Confirmer et créer le forum</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
    Créer un forum
{% endblock %}

