{% extends 'admin-base.html.twig' %}

{% block title %}Liste des forums{% endblock %}

{% block body %}
    <div class="admin-content-header">
        <h1>Liste des forums</h1>
        <a href="{{ path('admin_new_forum') }}" class="add-btn">Créer un forum</a>
    </div>
    <div class="admin-content-body mt-4">
        {% embed ('partials/admin/table.html.twig') %}
            {% block table_header %}
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Date de création</th>
                    <th>Créateur</th>
                    <th>Nombre de message</th>
                    <th>Actions</th>
                </tr>
            {% endblock %}
            {% block table_body %}
                {% for forum in forums %}
                    <tr>
                        <td>{{ forum.id }}</td>
                        <td>{{ forum.title }}</td>
                        <td>{{ forum.createdAt|date ('d/m/Y') }}</td>
                        <td>{{ forum.user.email }}</td>
                        <td>{{ forum.messages|length }}</td>
                        <td>
                            <a href="{{ path('forum_view', {'id': forum.id}) }}"><i class="fa-solid fa-eye"></i></a>
                            <a href="{{ path('admin_edit_forum', {'id': forum.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('admin_delete_forum', {'id': forum.id}) }}"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun forum n'éxiste</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
